extends layout

block layout-content
    div.View
        h1.Banner Projects
        div.Message
            div.Title
                h1 My projects 
            span.Details Access to My Projects!
        div.NavButtons
            a(href="/user")
                div.NavButton Explore